.wrapper {
  font-family: sans-serif;
  background-color: white;
  border: solid #ddd 1px;
  border-radius: 12px;
  max-width: 200px;
  height: 24px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 10px;
  position: fixed;
}
